@media all and (max-width:1600px){//#section1,3
    #section01 {
        .hashTag {
            top: 22%;
            left: 24%;
        }
    }

    #section03 {
        padding: 50px 0;
        .about {
            position: absolute;
            top: 0;
            transform: translate(0) rotate(-12deg);
            margin-top: 5%;
        }
        .txtBox {
            position: static;
            top: 0;
            transform: translate(0);
            margin-top: 30%;
            padding: 30px 40px;
        }
    }
}

@media all and (max-width:1400px){//#section04 #footer
    .background {
        &.last {
            top: 49%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 400px;
            height: 530px;
            z-index: 2;
        }
    }

    #section01 {
        .title {
            font-size: 4.8vw;
        }
    }

    #section04 {
        .portfolioList {
            > li {
                padding-top: 6.5vw;
            }
        }
    }

    #footer {
        width: 439px;
        height: 650px;
        background: url("../images/footer/ipad.png")no-repeat center;
        background-size: 439px 650px;
        .contact {
            left: 40px;
            dt {
                margin-bottom: 70px;
                img {
                    width: 200px;
                }
            }
            dd {
                &.main {
                    top: 29%;
                    right: -25px;
                    span {
                        left: 60px;
                    }
                }
                &.copy {
                    word-break: keep-all;
                    font-size: 1.4rem;
                }
            }
        }
    }
}

@media all and (max-width:1200px){//#logo #section1,2,3,4 
    #logo {
        bottom:15%;
        left: 5%;
        img {
            width: 40vw;
        }
    }

    #section01 {
        .sub {
            bottom: 15%;
            left: 25%;
        }
    }

    #section02 {
        article {
            .txtBox {
                font-size: 1.8rem;
            }
        }
    }

    #section03 {
        .about {
            img {
                width: 43vw;
            }
        }
    }

    #section04 {
        .portfolioList {
            > li {
                padding-left: 2vw;
                .infoBox {
                    dt {
                        font-size: 5vw;
                    }
                    dd {
                        font-size: 2.5vw;
                    }
                }
            }
        }
    }
}

@media all and (max-width:700px){// #logo #section1,2,3,4
    #logo {
        bottom: 30%;
    }

    #section01 {
        > p {
            top: 30%;
            font-size: 1.8rem;
        }
        .sub {
            bottom: 30%;
        }
        .hashTag {
            top: 35%;
            font-size: 1.4rem;
        }
    }

    #section02 {
        article {
            justify-content: space-between;
            &.design {
                
                .txtBox {
                    padding-top: 20px;
                }
            }
            .iconBox {
                width: 100%;
                padding-left: 0;
            }
            .txtBox {
                padding: 20px 20px 0 20px;
            }
        }
    }

    #section03 {
        .about {
            img {
                width:65vw;
            }
        }
        .txtBox {
            font-size:1.8rem;
        }
    }

    #section04 {
        .portfolioList {
            > li {
                padding-top: 20vw;
                .viewBtns {
                    li {
                        a {
                            padding: 2vw 3vw;
                            font-size: 3vw;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width:599px){//#footer
    .background {
        &.last {
            top: 49.4%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 159.5px;
            height: 345px;
        }
    }
    #section02 {
        article {
            .iconBox {
                li {
                    margin: 5px 0;
                }
            }
        }
    }
    #footer {
        width: 250px;
        height: 370px;
        background: url("../images/footer/iphone.png") no-repeat center;
        background-size: 250px 370px;
        .contact {
            left: 55px;
            font-size: 1.2rem;
            dt {
                img {
                    width: 120px;
                }
            }
            dd {
                &.main {
                    top: 32%;
                    right: 20px;
                    span {
                        left: 40px;
                    }
                }
                &.copy {
                    font-size: 1rem;
                    br {
                        display: block;
                    }
                }
            }
        }
    }
}

@media all and (max-width:499px){
    .background {
        &.last {
            top: 49%;
            left: 50.5%;
            width: 158.5px;
        }
    }

    #scroll {
        font-size: 1rem;
    }

    #section01 {
        > p {
            top: 34%;
            font-size: 1rem;
        }
        .hashTag {
            font-size: 1rem;
        }
    }

    #section02 {
        article {
            justify-content: space-around;
            .txtBox {
                font-size: 1.2rem;
            }
            .iconBox {
                li {
                    img {
                        width: 30px;
                    }
                }
            }
        }
    }

    #section03 {
        .about {
            img {
                width: 250px;
                border-radius: 10px;
            }
        }
        .txtBox {
            font-size: 1.4rem;
        }
    }

    #section04 {
        .portfolioList {
            > li {
                .viewBtns {
                    li {
                        &:first-child {
                            margin-right: 10px;
                        }
                        a {
                            padding: 1vw 1.6vw;
                            font-size: 1.8vw;
                        }
                    }
                }
            }
        }
    }
}
